a {
	color: #7A7A7A;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

header {
	position: relative;
	height: 2.5rem;
	background: #fff;
	padding: 5px 0;
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
}

.sort {
	width: 100%;
	background: #fff;
	height: 3.5rem;
	line-height: 3.5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.sort .sortNav {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
	font-size: 1rem;
	height: 3.5rem;
}

.sort .selectShow {
	position: relative;
}

.sort .sortNav span {
	font-size: 1rem;
	position: relative;
	color: #666;
	display: block;
	border-right: 1px solid #e6e6e6;
}

.sort .sortNav .selectShow:after {
	position: absolute;
	right: 0;
	top: 10px;
	content: "";
	width: 1px;
	height: 1.5rem;
	background: #e5e5e5;
}

.sort .sortNav a {
	font-size: 1.4rem;
	position: relative;
	color: #666;
	display: block;
}

.sort .select_show .sort_icon {
	display: inline-block;
	width: 10px;
	height: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

.sort .select_show .sort_icon_bottom {
	background: url(../images/bottom_icon.png) no-repeat center center;
	background-size: 0.9rem auto;
}

.sort .select_show .sort_icon_top {
	background: url(../images/top_icon.png) no-repeat center center;
	background-size: 0.9rem auto;
}

#packageList {
	background: #fff;
	margin-bottom: 1rem;
}

#packageList ul li {
	position: relative;
	padding: 1rem 5%;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#packageList ul li:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 90%;
	margin-left: -45%;
	height: 1px;
	background: #e6e6e6;
	content: "";
}

#packageList ul li .packageListItem {
	display: block;
}

#packageList ul li dt {
	width: 10rem;
	float: left;
}

#packageList ul li dt img {
	width: 10rem;
	height: 6.3rem;
}

#packageList ul li dd {
	margin-left: 10.7rem;
}

#packageList ul li dd h3 {
	font-size: 1.6rem;
	color: #333;
	max-height: 4.2rem;
	line-height: 2rem;
	overflow: hidden;
}

#packageList .package_name span {
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	margin-left: 0.2rem;
	vertical-align: middle;
}

#packageList ul li dd .package_info {
	font-size: 1.2rem;
	position: relative;
	margin: 0.5rem 0 0;
	line-height: 2.0rem;
	color: #a0a0a0;
}

#packageList ul li dd .row1 {
	color: #666;
}

#packageList ul li dd .row1 .big {
	font-size: 1.2rem;
}

#packageList ul li dd .row1 .big i {
	font-size: 1.4rem;
	color: #666;
}

.no_data {
    text-align: center;
    font-size: 1.4rem;
    padding: 0.8rem 0;
}

.work_item {
	font-size: 2rem;
	padding-bottom: 5px;
}

.packageListItem label {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
}

.work_page {
	font-size: 2rem;
	height: 3.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.work_page .pre {
	float: left;
	margin-left: 2rem;
}

.work_page .next {
	float: right;
	margin-right: 2rem;
}
