<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shirokumacafe.archetype.repository.WorkQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.shirokumacafe.archetype.entity.WorkQuestion" >
    <id column="wq_id" property="wqId" jdbcType="INTEGER" />
    <result column="w_id" property="wId" jdbcType="INTEGER" />
    <result column="q_id" property="qId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    wq_id, w_id, q_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_work_question
    where wq_id = #{wqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_work_question
    where wq_id = #{wqId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shirokumacafe.archetype.entity.WorkQuestion" >
    insert into t_work_question (wq_id, w_id, q_id
      )
    values (#{wqId,jdbcType=INTEGER}, #{wId,jdbcType=INTEGER}, #{qId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shirokumacafe.archetype.entity.WorkQuestion" >
    insert into t_work_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wqId != null" >
        wq_id,
      </if>
      <if test="wId != null" >
        w_id,
      </if>
      <if test="qId != null" >
        q_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wqId != null" >
        #{wqId,jdbcType=INTEGER},
      </if>
      <if test="wId != null" >
        #{wId,jdbcType=INTEGER},
      </if>
      <if test="qId != null" >
        #{qId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shirokumacafe.archetype.entity.WorkQuestion" >
    update t_work_question
    <set >
      <if test="wId != null" >
        w_id = #{wId,jdbcType=INTEGER},
      </if>
      <if test="qId != null" >
        q_id = #{qId,jdbcType=INTEGER},
      </if>
    </set>
    where wq_id = #{wqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shirokumacafe.archetype.entity.WorkQuestion" >
    update t_work_question
    set w_id = #{wId,jdbcType=INTEGER},
      q_id = #{qId,jdbcType=INTEGER}
    where wq_id = #{wqId,jdbcType=INTEGER}
  </update>

  <select id="findWorkQuestionExtByParams" resultType="com.shirokumacafe.archetype.entity.WorkQuestionExt" >
    select t.wq_id as wqId,t.w_id as wId,t.q_id as qId,t2.w_work_name as wWorkName,t3.q_title as qTitle, t3.q_type as qType
    from t_work_question t
    left join t_work t2 on t.w_id=t2.w_id
    LEFT JOIN t_question t3 on t.q_id=t3.q_id
    <where>
      <if test="wqId!=null">
        and t.wq_id>#{wqId}
      </if>
      <if test="wId!=null">
        and t.w_id=#{wId}
      </if>
      <if test="qId!=null">
        and t.q_id=#{qId}
      </if>
      <if test="qTitle!=null and qTitle!=''">
        and t3.q_title like CONCAT('%',#{qTitle},'%')
      </if>
    </where>
    order by t.wq_id
  </select>

</mapper>