html {
    overflow: hidden;
}
body {
    overflow: hidden;
    background-color: white;
}

.bui-nav-tab,.tab-content-container,.tab-content{
    height: 100%;
}
.header,.dl-main-nav{
    background: url('../images/main-nav-bg.png') repeat-x 0 0 #204077;
}
.header {
    background-color: #1B3160;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
.dl-title {
    float: left;
    color: #c1d5ec;
    font-family: "Microsoft YaHei";
    margin-left: 12px;
    font-size: 18px;
    line-height: 36px;
}
.dl-title a{
    color:#c1d5ec;
}
.dl-log {
    color: #C1D5EC;
    float: right;
    padding: 10px 16px 0 0;
}
.dl-log-user {
    font-style: bold;
}
.dl-log-quit {
    color: #c1d5ec;
    padding-left: 8px;
}


.x-accordion-title{
    background: #dfeaf2;
    border-top: 2px solid white;
    padding: 8px 10px;
}
.x-collapsed .x-accordion-body{
    height: 0;
    overflow: hidden;
}

.ext-border-layout {
    padding: 1px;
    background-color: #3892d3;
}
